.container {
  margin: 35px 40px 40px 38px;
}

.m32 {
  margin: 32px 0 0 0;
}

.text_h2 {
  font-size: 24px;
  font-weight: 700;
}

.vacancy_description {
  font-size: 14px;
  font-weight: 400;
  color: #959799;
  max-width: 427px;
  margin: 8px 0 0 0;
}
