.container {
  margin: 35px 40px 40px 38px;
}

.vacancy_name {
  margin: 24px 0 0 0;
}

.m12 {
  margin-bottom: 12px;
}

.profession {
  margin: 32px 0 0 0;
}

.text_h2 {
  font-size: 24px;
  font-weight: 700;
}

.text_h3 {
  font-size: 14px;
  font-weight: 700;
  color: #303233;
}

.spoiler_link {
  font-size: 14px;
  font-weight: 700;
  color: #61aef2;
}

.spoiler_text_container {
  display: flex;
  margin: 12px 0 0 0;
}
