.container {
  display: grid;
  grid-template-columns: 1fr 1032px 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas: ". . .";

  margin: 48px 0 0 0;
}

.content_container {
  display: grid;
  grid-template-columns: 324px 708px;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". .";

  background-color: #ffffff;
  border-radius: 30px;
}

.back {
  margin-left: 96px;
  margin-top: 48px;
  margin-right: 37px;
}

.button {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    opacity: 0.6;
    transition: 0.3s;
  }

  &:active {
    opacity: 1;
  }
}

.btnIcon {
  background-image: url(../../images/btn-back.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.sidebar {
  margin: 18px 16px 26px 19px;
}

.request_creator {
  overflow: auto;
  height: 70vh;
}
