.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 36px 0 0 0;
}

.bookmark {
  display: flex;
  height: 24px;
}

.bookmark_text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.navigation_button_container {
  display: flex;
  gap: 12px;
}

.button_text {
  font-size: 16px;
  font-weight: 700;
}
