.m32 {
  margin: 32px 0 0 0;
}

.text_h3 {
  font-size: 14px;
  font-weight: 700;
  color: #303233;
}

.m12 {
  margin-bottom: 12px;
}

.toggle_buttons {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.description {
  font-size: 14px;
  margin: 8px 0 0 0;
  padding: 0;
}

.textfield_large {
  margin: 12px 0 0 0;
}
