.additional_tasks_header {
}

.mt32 {
  margin-top: 32px;
}

.text_header {
  font-weight: 700;
  font-size: 14px;
  margin: 0;
}

.special_requirements_hint {
  color: #7b7b7b;
  font-size: 12px;
  font-weight: 400;
  margin: 8px 0 0 0;
}

.textfield_large {
  margin: 12px 0 0 0;
}
