.recruitercount_header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.text_header {
  font-weight: 700;
  font-size: 14px;
  margin: 0;
}

.mt32 {
  margin-top: 32px;
}

.fixed {
  transform: translateX(0);
}

.recruitercount_hint_text {
  color: #303233;
  font-size: 12px;
  font-weight: 400;
  margin: 12px;
}

.recruitercount_hint {
  width: 294px;
  height: 72px;
  background-color: #f2f5fa;
  border-radius: 12px;
  overflow: hidden;
  position: fixed;
  margin-top: -85px;
  margin-left: 187px;
}

.toggle_buttons {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 12px;
}
